<a href="https://colab.research.google.com/github/codeplinth/pythonbootcamp/blob/master/Python_02_Comments_Datatypes_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Comments & Basics Datatypes

# Comments - Single , Multiline

In [3]:
#this is a single line comment
"""
This is a multi line comment
"""
print('Hello') #this is also a comment

Hello

## Datatypes - int , float , bool ,str

In [4]:
#the following are all integers
print(2)
print(10)
type(10)

2
10

int

In [5]:
#the following are all floats
print(45.23)
print(8.0)
type(8.0)

45.23
8.0

float

In [6]:
#the following are booleans
print(True)
print(False)
type(True)

True
False

bool

In [7]:
#the following are strings
print(" ")
print("There's a snake in my boot!")
print('True')
type("Hello")

There's a snake in my boot!
True

str

In [8]:
print("Harsh")
type(2)

Harsh

int

## Variables

In [9]:
num1 = 5 #storing an integer into a variable
num2 = 8.4 #storing a float into a variable
print(num1 , num2) #print multiple items using comma

5 8.4

In [10]:
#storing a boolean into a variable
switch = True
print(switch)

True

In [11]:
#storing strings into a variable
name = 'John Smith'
fav_number = '9'
print(name,fav_number)

John Smith 9

In [12]:
#using two variables to create another variable
result = num1 + num2
print(result)

13.4

In [13]:
#adding,deleting,multiplying, dividing from a variable
result += 1
print(result)
result *= num1
print(result)

14.4
72.0

In [14]:
#defining a variable and overwriting its value
name = 'John'
print(name)
name = 'Sam'
print(name)

John
Sam

In [15]:
x = 3
y = 10
result = x * y
print(result)

30

In [16]:
area = 245.54 * 13.66
print(area)

3354.0764

## Working with strings

In [18]:
#using addition operator without variables
name = 'John' + ' ' + 'Smith'
print(name)

John Smith

In [19]:
#using addition operator with variables
first_name = 'John'
last_name = 'Smith'
full_name = first_name + ' ' + last_name
print(full_name)

John Smith

In [20]:
#using f-Strings
name = 'John'
age = 28
print(f'Hello {name}')
print(f'Hello {name} , you are {age} years old')

Hello John
Hello John , you are 28 years old

In [25]:
#using indexes to print each elements
word = 'Hello'
print(word[0])
print(word[1])
print(word[-1])

H
e
o

In [26]:
#string slicing start:stop:step
print(word[0:2])
print(word[0:5:2])
print(word[-1::-1])#reverse the string

He
Hlo
olleH

In [27]:
print(25,4.5,False,'John')
name = 'Angel'
sports = 'Gaming'
lang = 'Python'
print(f'{name}\'s favorite sports is {sports}')
print(f'{name} is working on {lang} programming')

25 4.5 False John
Angel's favorite sports is Gaming
Angel is working on Python programming

## Manipulating Strings

In [28]:
#using title method to capitalize first letters of a string
name = 'john smith'
print(name.title())
print(name.upper())

John Smith
JOHN SMITH

In [29]:
#replacing exclamation with a dot
hello = 'Hello There !'
print(hello.replace('!','.'))

Hello There .

In [30]:
#finding starting index of search term
s = 'Look over that way'
print(s.find('over'))

5

In [31]:
#removing white space with strip
name = ' John '
print(name.strip())
print(name.rstrip())

John
 John

In [32]:
#converting a string into a list of words
s = 'These words are separated by spaces'
print(s.split(' '))

['These', 'words', 'are', 'separated', 'by', 'spaces']

In [33]:
print('uppercase'.upper())

UPPERCASE

In [34]:
print('$$John'.lstrip('$'))

John

## Project : Printing receipts

In [35]:
#create product and price of three products
p1_name,p1_price = 'Books',49.95
p2_name,p2_price = 'Computer',579.99
p3_name,p3_price = 'Monitor',124.89

In [36]:
#create company name ,address & city
company_name = 'coding temple, inc.'
company_address = '283 Franklin St.'
company_city = 'Boston, MA'

In [37]:
#declare ending message
message = 'Thanks for shopping with us today!'

In [39]:
#print top border
print('*' * 50)
#print company information
print(f'\t\t{company_name.title()}')
print(f'\t\t{company_address}')
print(f'\t\t{company_city}')
print('=' * 50)
#print item information
print(f'\tProdut Name\tProduct Price')
print(f'\t{p1_name}\t\t${p1_price}')
print(f'\t{p2_name}\t${p2_price}')
print(f'\t{p3_name}\t\t${p3_price}')
print('=' * 50)
#print total
print('\t\t\tTotal')
print(f'\t\t\t${p1_price+p2_price+p3_price}')
#print message
print('=' * 50)
print(f'\t{message}')
print('*' * 50)

**************************************************
		Coding Temple, Inc.
		283 Franklin St.
		Boston, MA
==================================================
	Produt Name	Product Price
	Books		$49.95
	Computer	$579.99
	Monitor		$124.89
==================================================
			Total
			$754.83
==================================================
	Thanks for shopping with us today!
**************************************************