# Comments & Basics Datatypes

# Comments - Single , Multiline

In [1]:
#this is a single line comment
"""
This is a multi line comment
"""
print("Hello") #this is also a comment

Hello

## Datatypes - int , float , bool ,str

In [2]:
#the following are all integers
print(2)
print(10)
type(10)

2
10

int

In [3]:
#the following are all floats
print(45.23)
print(8.0)
type(8.0)

45.23
8.0

float

In [4]:
#the following are booleans
print(True)
print(False)
type(True)

True
False

bool

In [5]:
#the following are strings
print(" ")
print("There's a snake in my boot!")
print('True')
type("Hello")

There's a snake in my boot!
True

str

In [6]:
print("Harsh")
type(2)

Harsh

int

## Variables

In [7]:
num1 = 5 #storing an integer into a variable
num2 = 8.4 #storing a float into a variable
print(num1 , num2) #print multiple items using comma

5 8.4

In [8]:
#storing a boolean into a variable
switch = True
print(switch)

True

In [9]:
#storing strings into a variable
name = "John Smith"
fav_number = "9"
print(name,fav_number)

John Smith 9

In [10]:
#using two variables to create another variable
result = num1 + num2
print(result)

13.4

In [11]:
#adding,deleting,multiplying, dividing from a variable
result += 1
print(result)
result *= num1
print(result)

14.4
72.0

In [12]:
#defining a variable and overwriting its value
name = "John"
print(name)
name = "Sam"
print(name)

John
Sam

In [13]:
x = 3
y = 10
result = x * y
print(result)

30

In [14]:
area = 245.54 * 13.66
print(area)

3354.0764

## Working with strings

In [15]:
#using addition operator without variables
name = "John" + " " + "Smith"
print(name)

John Smith

In [16]:
#using addition operator with variables
first_name = "John"
last_name = "Smith"
full_name = first_name + " " + last_name
print(full_name)

John Smith

In [17]:
#injecting variables using the format method
name = "John"
print("Hello {}".format(name))
print("Hello {} , you are {} years old".format(name,28))

Hello John
Hello John , you are 28 years old

In [18]:
#using indexes to print each elements
word = "Hello"
print(word[0])
print(word[1])
print(word[-1])

H
e
o

In [19]:
#string slicing
print(word[0:2])
print(word[0:5:2])
print(word[-1::-1])

He
Hlo
olleH

In [20]:
print(25,4.5,False,"John")
name = "Angel"
sports = "Gaming"
lang = "Scala"
print("{}'s favorite sport is {}".format(name,sports))
print("{} is working on {} programming".format(name,lang))

25 4.5 False John
Angel's favorite sport is Gaming
Angel is working on Scala programming

## Manipulating Strings

In [21]:
#using title method to capitalize first letters of a string
name = "john smith"
print(name.title())
print(name.upper())

John Smith
JOHN SMITH

In [22]:
#replacing exclamation with a dot
hello = "Hello there !"
print(hello.replace("!","."))

Hello there .

In [23]:
#finding starting index of search term
s = "Look over that way"
print(s.find("over"))

5

In [24]:
#removing white space with strip
name = "  John  "
print(name.strip())
print(name.rstrip())

John
  John

In [25]:
#converting a string into a list of words
s = "These words are separated by spaces"
print(s.split(" "))

['These', 'words', 'are', 'separated', 'by', 'spaces']

In [ ]:
print("uppercase".upper())

In [ ]:
print("$$John".lstrip("$"))

## Project : Printing receipts

In [ ]:
#create product and price of three products
p1_name,p1_price = "Books",49.95
p2_name,p2_price = "Computer",579.99
p3_name,p3_price = "Monitor",124.89

In [ ]:
#create company name ,address & city
company_name = "coding temple, inc."
company_address = "283 Franklin St."
company_city = "Boston, MA"

In [ ]:
#declare ending message
message = "Thanks for shopping with us today!"

In [ ]:
#print top border
print("*" * 50)
#print company information
print("\t\t{}".format(company_name.title()))
print("\t\t{}".format(company_address))
print("\t\t{}".format(company_city))
print("=" * 50)
#print item information
print("\tProdut Name\tProduct Price")
print("\t{}\t\t${}".format(p1_name,p1_price))
print("\t{}\t\t${}".format(p2_name,p2_price))
print("\t{}\t\t${}".format(p3_name,p3_price))
print("=" * 50)
#print total
print("\t\t\tTotal")
print("\t\t\t${}".format(p1_price+p2_price+p3_price))
#print message
print("=" * 50)
print("\t{}".format(message))
print("*" * 50)